<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="products">
      <ion-icon name="bag-outline"></ion-icon>
      <ion-label>Productos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="orders">
      <ion-icon name="bookmarks-outline"></ion-icon>
      <ion-label>Pedidos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="banners">
      <ion-icon name="images-outline"></ion-icon>
      <ion-label>Publicidad</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>