<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-button slot="start" (click)="onClose()" fill="clear" size="small">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>{{ item.name }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11">
        <ion-img [src]="item.image.url"></ion-img>
        <ion-label>
          <h1 class="ion-padding-vertical">{{ item.name }}</h1>
          <h2 style="color: red; font-weight: 600;">
            {{ item.price | currency }}
          </h2>
          <p>{{ item.category.name }}</p>
          <p>{{ item.description }}</p>
        </ion-label>
        <ion-list>
          <ion-item>
            <ion-label>Promover via Whats</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="onClose()" expand="block" fill="clear" color="danger">
      Cerrar
    </ion-button>
  </ion-toolbar>
</ion-footer>
