.box-img {
    height: 200px;
    border-radius: 10px;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.border-radius {
    border-radius: 10px;
}


.position-image {
    position: relative;
    ion-icon {
        position: absolute;
        bottom: 5px;
        right: 5px;
        width: 44px;
        height: 44px;
    }
}