.box-img {
    height: 200px;
    border-radius: 10px;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.border-radius {
    border-radius: 10px;
}